n8n-campaign-send-workflow.json
{
  "name": "SmartMailer – Campaign Send",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "smartmailer-campaign-send",
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-send",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Split Sends",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "fieldToSplitOut": "sends",
        "options": {
          "destinationFieldName": "",
          "include": "noOtherFields"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300],
      "continueOnFail": true,
      "parameters": {
        "fromEmail": "={{ $('Webhook').first().json.smtp.from_email }}",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "fromName": "={{ $('Webhook').first().json.smtp.from_name }}"
        }
      },
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_NAME"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.callback_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Secret",
              "value": "={{ $('Webhook').first().json.callback_secret }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ send_id: $json.send_id, status: $json.error ? 'failed' : 'sent', error: $json.error ? $json.error.message : null, smtp_message_id: null }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Sends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sends": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
